<!DOCTYPE html>
<html ng-app="jq2016Revamp">
  <head lang="en">
    <title>jq2016 Revamp</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>  
  </body>
</html>