<!--  Header  -->
<div class="header">
    <!--  Navigation  -->
    <div class="nav" id="nav">
<!--
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">work</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
        </ul>
-->
        <!--  Hamburger Menu Icon  -->
        <div id="nav-icon3" ng-click="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
</div>

<!--  Intro Description  -->
<div class="home_banner" id="home_banner">
    <div>
        <p>
            My name is Jason Quaccia<br>
            And I'm three-quarters frontend developer and one-quarter backend
        </p>
    </div>
    
    <!--  Half-Tone Selfie  -->
    <img src="/assets/images/half_tone_me_1.png" alt="" class="selfie_1 img-responsive">
</div>

<a href="#" id="#"></a>

<div>
    <a href="#" class="home-item" id="#">
        <div class="home-item-text">
            <p>filler</p>
        </div>
    </a>
    
    <a href="#" class="home-item" id="#">
        <div class="home-item-text">
            <p>filler</p>
        </div>
    </a>
    
    <a href="#" class="home-item" id="#">
        <div class="home-item-text">
            <p>filler</p>
        </div>
    </a>
    
    <a href="#" class="home-item" id="#">
        <div class="home-item-text">
            <p>filler</p>
        </div>
    </a>
</div>