<!--  Header  -->
<div class="header">
    <!--  Navigation  -->
    <div class="nav" id="nav">
<!--
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">work</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
        </ul>
-->
        <!--  Hamburger Menu Icon  -->
        <div id="nav-icon3" ng-click="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
</div>

<!--  Intro Description  -->
<div class="home_banner" id="home_banner">
    <div>
        <p>
            My name is Jason Quaccia<br>
            And I'm three-quarters frontend developer and one-quarter backend developer
        </p>
    </div>
    
    <!--  Half-Tone Selfie  -->
    <img src="/assets/images/half_tone_me_1.png" alt="" class="selfie_1 img-responsive">
</div>

<section id="projects">
    <div class="row section_wrapper">
        <div class="col-md-12 section_header">
            <h1 class="section_title">Work</h1>
            <div class="section_title_underline"></div>
        </div>
        
        <div class="col-md-12 work_wrapper">
            <div id="work">
                <div class="wrap">
                  <article class="content">
                    <div class="col1"></div>

                    <div class="clear"></div>

                    <div class="col1">
                      <a href="#" class="item">
                        <span>
                          <span class="button-cont">
                            <span class="static">Bloc Chat</span>
                            <span class="hover-overflow"><span class="hover">Bloc Chat</span></span>
                          </span>
                        </span>
                        
                        <img width="1870" height="554" src="/assets/images/projects/bloc_chat.png" alt="Bloc Chat">
                      </a>

                      <a href="#" class="item">
                        <span>
                          <span class="button-cont">
                            <span class="static">Bloc Jams</span>
                            <span class="hover-overflow"><span class="hover">Bloc Jams</span></span>
                          </span>
                        </span>

                        <img width="1870" height="554" src="/assets/images/projects/bloc_jams.png" />
                      </a>

                      <a href="#" class="item">
                        <span>
                          <span class="button-cont">
                            <span class="static">The Music Project</span>
                            <span class="hover-overflow"><span class="hover">The Music Project</span></span>
                          </span>
                        </span>

                        <img width="2598" height="766" src="/assets/images/projects/artist_recommendations.png" />
                      </a>

                      <a href="#" class="item">
                        <span>
                          <span class="button-cont">
                            <span class="static">Markitoff</span>
                            <span class="hover-overflow"><span class="hover">Markitoff</span></span>
                          </span>
                        </span>

                        <img width="1870" height="554" src="/assets/images/projects/markitoff.png" />
                      </a>
                      
                      <a href="#" class="item">
                        <span>
                          <span class="button-cont">
                            <span class="static">Simply Put Your Way</span>
                            <span class="hover-overflow"><span class="hover">Simply Put Your Way</span></span>
                          </span>
                        </span>

                        <img width="1870" height="554" src="/assets/images/projects/simply-put-your-way.png" />
                      </a>
                      
                      <a href="#" class="item">
                        <span>
                          <span class="button-cont">
                            <span class="static">Festival Quiz</span>
                            <span class="hover-overflow"><span class="hover">Festival Quiz</span></span>
                          </span>
                        </span>

                        <img width="1870" height="554" src="/assets/images/projects/festival-quiz.png" />
                      </a>
                      
                      <a href="#" class="item">
                        <span>
                          <span class="button-cont">
                            <span class="static">Wikiland</span>
                            <span class="hover-overflow"><span class="hover">Wikiland</span></span>
                          </span>
                        </span>

                        <img width="1870" height="554" src="/assets/images/projects/wikiland.png" />
                      </a>
                    </div>

                    <div class="clear"></div>
                  </article>
                </div>
              </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="row section_wrapper">
        <div class="col-md-12 section_header">
            <div class="float_right_wrapper">
                <h1 class="section_title float_right">About</h1>
                <div style="clear: both;"></div>
                <div class="section_title_underline float_right"></div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="row section_wrapper">
        <div class="col-md-12 section_header">
            <h1 class="section_title">Contact</h1>
            <div class="section_title_underline"></div>
        </div>
    </div>
</section>